{% include '/includes/header.html' %}
{% include '/includes/nave.html' %}
<p>
  <h1 class="center-text mt-4">A&K Online School Computer Science Trainings</h1>
</p>
<div class="row">
<div class="card" style="width: 18rem; margin-right: 2ex;">
  <!--img src="..." class="card-img-top" alt="..."-->
  <div class="card-body">
    <h5 class="card-title">Software Development Training</h5>
    <p class="card-text">This is an important training under computer science program from which students will learn many contemporay software development methodologies that will enable them to become computer scientists. You can register for it. <br> <a href="#" class="btn btn-primary mt-2"> Apply</a></p>
  </div>
</div>
<div class="card" style="width: 18rem; margin-right:2ex;">
  <!--img src="..." class="card-img-top" alt="..."-->
  <div class="card-body">
    <h5 class="card-title">MERN Stack Web Development Training</h5>
    <p class="card-text">This is an important training under computer science program from which students will learn many contemporay software development methodologies that will enable them to become computer scientists. You can register for it. <br> <a href="#" class="btn btn-primary mt-2"> Apply</a></p>
  </div>
</div>
<div class="card" style="width: 18rem; margin-right: 2ex;">
  <!--img src="..." class="card-img-top" alt="..."-->
  <div class="card-body">
    <h5 class="card-title">Mobile App Development Training</h5>
    <p class="card-text">This is an important training under computer science program from which students will learn many contemporay software development methodologies that will enable them to become computer scientists. You can register for it. <br> <a href="#" class="btn btn-primary mt-2"> Apply</a></p>
  </div>
</div>
</div>
<div class="row mt-2">
<div class="card" style="width: 18rem; margin-right: 2ex;">
  <!--img src="..." class="card-img-top" alt="..."-->
  <div class="card-body">
    <h5 class="card-title">ASP.NET MVC Development Training</h5>
    <p class="card-text">This is an important training under computer science program from which students will learn many contemporay software development methodologies that will enable them to become computer scientists. You can register for it. <br> <a href="#" class="btn btn-primary mt-2"> Apply</a></p>
  </div>
</div>
<div class="card" style="width: 18rem; margin-right: 2ex;">
  <!--img src="..." class="card-img-top" alt="..."-->
  <div class="card-body">
    <h5 class="card-title">Network and System Adminstration Training</h5>
    <p class="card-text">This is an important training under computer science program from which students will learn many contemporay software development methodologies that will enable them to become Cybersecurity professional. You can register for it. <br> <a href="#" class="btn btn-primary mt-2"> Apply</a></p>
  </div>
</div>
</div>

{% include '/includes/footer.html' %}