{% include '/includes/header.html' %}
{% include '/user/nave.html' %}
<p>
  <h1 class="center-text mt-4">A&K Online School Computer Science Tutorials</h1>
</p>
<div class="row">
<div class="card col-md-4" style="width: 18rem;">
  <!--img src="..." class="card-img-top" alt="..."-->
  <div class="card-body">
    <h5 class="card-title">Compiler Design Tutorial</h5>
    <h6 class="card-texty samall text-body-secondary"> By Amsalu Dinote</h6> 
    <p class="card-text">This is an undergraduate program in computer science field in which students will learn many contemporay courses that will enable them to become computer scientists. You can register for it by clicking the following button. <br><a href="#" class="btn btn-primary mt-2"> View</a></p>
</div>
</div>
<div class="card col-md-4 " style="width: 18rem;">
<div class="card-body">
    <h5 class="card-title">Algorithm Analysis Tutorial</h5>
    <h6 class="card-texty samall text-body-secondary"> By Amsalu Dinote</h6> 
    <p class="card-text">This is an undergraduate program in computer science field in which students will learn many contemporay courses that will enable them to become computer scientists. You can register for it by clicking the following button.<br><a href="#" class="btn btn-primary mt-2"> View</a></p>
</div>
</div>
<div class="card col-md-4" style="width: 18rem;">
  <div class="card-body">
      <h5 class="card-title">Formal Language and Automata Theory</h5>
      <h6 class="card-texty samall text-body-secondary"> By Amsalu Dinote</h6> 
      <p class="card-text">This is an undergraduate program in computer science field in which students will learn many contemporay courses that will enable them to become computer scientists. You can register for it by clicking the following button.<br><a href="#" class="btn btn-primary mt-2"> View</a></p>
  </div>
  </div>
</div>
{% include '/includes/footer.html' %}