<!DOCTYPE html>
<HTML>
  <HEAD>
    <title>AK-TUTORIALS</title>
    <style>
      h1{
        font-family:sans-serif;
        font-size:12px;
        color:rgb(100,100,100);
      }
      img{
        width:100%;
        height:300px;
      }
      p{
        
      }
    </style>
  </HEAD>
  <body>
    <h1>Welcome to AK-TUTORIALS!!</h1>
    <img src="https://ak-tutorials.amsalu-hub.repl.co/static/online%20edu.jpg" alt="test" /> <br/>
    <p>
    <b><i>AK-TUTORIALS</i></b> is non-profit association established to support students to gain new great insites on the different courses of computer science. 
    </p>
  </body>
</HTML>