{% include 'header.html' %}
{% include 'nave.html' %}
<p>
  <h1 class="center-text mt-4">A&K Online School Programs</h1>
</p>
<div class="card" style="width: 18rem;">
  <!--img src="..." class="card-img-top" alt="..."-->
  <div class="card-body">
    <h5 class="card-title">BSc in Computer Science</h5>
    <p class="card-text">This is an undergraduate program in computer science field in which students will learn many contemporay courses that will enable them to become computer scientists. You can register for it <a href="registrationform.html" class="btn btn-primary"> here</a>.</p>
      </div>
</div>
{% include 'footer.html' %}